<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:fl="http://typo3.org/ns/Causal/FileList/ViewHelpers"
      data-namespace-typo3-fluid="true">


<tr>
    <td>
        <fl:fileIcon file="{file}" />
        <f:link.typolink parameter="{file.publicUrl}">
            <f:if condition="{file.properties.title}">
                <f:then>{file.properties.title}</f:then>
                <f:else>{file.name}</f:else>
            </f:if>
            <f:if condition="{file.properties.tx_filelist.isNew}">
                <span class="label label-default"><f:translate key="newFile" /></span>
            </f:if>
        </f:link.typolink>
    </td>
    <td style="font-size:smaller">
        <f:format.date format="d-m-Y">@{file.properties.modification_date}</f:format.date>
    </td>
</tr>
</html>