<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<tr>
    <td>
        <f:link.action action="list" arguments="{path: folder.identifier}">
            <img src="{f:uri.resource(path:'Icons/Folders/move_up.png')}" alt=".." />
        </f:link.action>
        <f:link.action action="list" arguments="{path: folder.identifier}">..</f:link.action>
    </td>
    <td></td>
    <td></td>
</tr>
</html>
