<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{breadcrumb}">
    <f:render partial="Breadcrumb" arguments="{breadcrumb: breadcrumb}" />
</f:if>
<table class="table table-striped table-condensed">
    <tbody>
        <f:if condition="{parent}">
            <f:render partial="Simple/ParentFolder" arguments="{folder: parent}" />
        </f:if>
        <f:for each="{folders}" as="folder">
            <f:render partial="Simple/Folder" arguments="{folder: folder}" />
        </f:for>
        <f:for each="{files}" as="file">
            <f:render partial="Simple/File_supersimple" arguments="{file: file}" />
        </f:for>
    </tbody>
</table>
</html>
